@import './variables';
@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:300,400,700&display=swap');

html{ font-size: 18px; }
body{ font-family: 'Poppins', sans-serif; }

h1{ 
  font-size: 3.25rem;
  font-weight: bold;
  text-transform: uppercase;
  &.vert{
    color: $couleur_vert;
  }
}

h2{ 
  font-size: 2.75rem;
  font-weight: 500;
  text-transform: uppercase;
  font-family: 'Roboto Condensed', sans-serif;
  overflow: hidden;
  &.noir{
    color: #444;
  }
  &.vert{
    color: $couleur_vert;
    &:after{
      border-color: $couleur_vert;
    }
  }
  &:after{
    content:"";
    display: inline-block;
    height: 0.5em;
    vertical-align: bottom;
    width: 100%;
    margin-right: -100%;
    margin-left: 2rem;
    border-top: 1px solid grey;
  }
}

h3{
  font-size: 1.75rem;
  font-weight: 500;
  text-transform: uppercase;
  font-family: 'Roboto Condensed', sans-serif;
  &.noir{
    color: #444;
  }
  &.vert{
    color: $couleur_vert;
  }
}

h4{
  font-size: 1.4rem;
  font-weight: 500;
  text-transform: uppercase;
  font-family: 'Roboto Condensed', sans-serif;
  &:after{
    content:"";
    display: inline-block;
    height: 0.5em;
    vertical-align: bottom;
    width: 100%;
    margin-right: -100%;
    margin-left: 2rem;
    border-top: 1px solid grey;
  }
  &.vert{
    color: $couleur_vert;
  }
}

p,li{ 
  line-height: 1.75em;
  font-size: 1.15rem;
  font-weight: 300;
  padding-bottom: 1rem;
}

li{
  font-family: 'Roboto Condensed', sans-serif;
}