@import '../../assets/css/scss/variables';

.projet {

	width: 70%;
	margin: auto;
	position: relative;

	.texte{
		top: 10%;
		position: absolute;
		z-index: 1;
		width: 50%;

		h2 {
			padding-bottom: 1rem;
		
		}
		p {
			font-size: 1rem;
		}
	}

	.image{
		height: 600px;
		width: 90%;
		margin-left: auto;
	}

}