@import '../../assets/css/scss/variables';

.about-page {
	.texte {
		padding: 6rem 0rem;
		> div{
			padding: 2rem 0rem;
		}
		h2, h3{
			padding-bottom: 2rem;
		}
		p{
			padding-bottom: .5rem;
		}
		.socials{
			padding: initial;
		}
	}
	.projects{
		margin-top: 3rem;
		position: relative;
		h1{
			z-index: 1;
			font-weight: bolder;
			font-size: 3rem;
			padding-bottom: 0.5rem;
		}
		a{
			z-index: 1;
			font-weight: 700;
			font-size: 1.5rem;
			color: $couleur_vert;
			text-decoration: underline;
		}
		.action{

		}
		.image{
			display: flex;
			justify-content: center;
			align-items: center;
			text-align: center;
			width: 98%;
			margin-left: auto;
			height: 500px;
			background-size: cover;
			background-position: center;

			&:after {
				display:block;
				position: absolute;
				content: "";
				z-index: 0;
				width: 100%;
				height: 100%;
				right:2%;
				top:-5%;
				background-color: $couleur_vert; 
				z-index: -1;
			}
		}
	}
}