@import '../../assets/css/scss/variables';

header{
	z-index: 1;
	position: absolute;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-top: 3rem;
	padding-bottom: 3rem;
	width: 100%;
	nav{
		width: 50%;
		ul{
			display: flex;
			align-items:  flex-end;
			li{
				padding-right: 5rem; 
				padding-bottom: 0;
				font-size: 1.25rem;
				a{
					color: $couleur_noir;
					&.is-active{
						color: $couleur_vert;
					}
				}
			}
		}
		&:after{
			content: "";
			position: absolute;
			height: 1px;
			vertical-align: bottom;
			width: 100%;
			margin-left: -105%;
			top: 56%;
			border-top: 1px solid rgba($couleur_noir,.5);
		}
	}
}