@import '../../assets/css/scss/variables';

.project-page {

	.projets {
		padding: 6rem 0rem;

		.texte {
			h2 {
				padding-bottom: 2rem;
			}
			p{
				padding-bottom: .5rem;
				&:last-child {
					padding-bottom: 0;
				}
			}
		}
	}

	.slider-projets {
		display: flex;
		align-items: center;
		justify-content: center;
	}

	.bg-title {
		color: rgba($couleur_noir, .5%);
	}

}